* {
  box-sizing: border-box;
}

main {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
}

main section {
  flex-grow: 1;
}

main section div {
  --size: 6em;
  --team: "black";
  --x: 0;
  --y: 0;

  width: var(--size);
  height: var(--size);
  background-color: var(--team);
  position: absolute;
  top: calc(var(--y) * var(--size));
  left: calc(var(--x) * var(--size));
}
